// CSS矢印
.arrow {
  // Const
  $posX: 95px;
  $posY: 34px;
  $rotateDeg: 45deg;
  $arrowSize: 12px;
  $color: #fff;
  // END Const

  position: relative;
  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 50%;
    width: $arrowSize;
    height: $arrowSize;
    border-top: 2px solid $color;
    border-right: 2px solid $color;
    transform: translateX($posX) translateY($posY) rotate($rotateDeg);
  }
}

// アニメーション設定用
@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

@include keyframes(fadeIn) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin animation(
  $name: fadeIn,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  animation: $name $duration $timing-function $delay $iteration-count $direction
    $fill-mode;
  -webkit-animation: $name $duration $timing-function $delay $iteration-count
    $direction $fill-mode;
}
/* @include for copy
@include animation(
  $name: fadeIn,
  $duration: 1s,
  $timing-function: ease,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
);
*/
